.calculator-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "history history history history"
  "operations operations operations operations"
  "memory-clear memory-store backspace backspace"
  "memory-add memory-subtract memory-recall all-clear"
  "seven eight nine divide"
  "four five six multiply"
  "one two three subtract"
  "dot zero equal add";
  color: black;
  gap: 10px;
  margin: 10px;
  padding: 0px 0px 0px 0px;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(45, 62, 80);
  padding: 10px;
  margin: 0px;
  max-width: 480px;
  max-height: 640px;
  border-radius: 10px;  
}
#historyDiv {
    grid-area: history;
    padding: 10px;
    background-color: black;
    color: rgb(255, 255, 255);
    text-align: right;
    font-size: 18px;
    height: 140px;
}
#operationDiv {
    grid-area: operations;
    background-color: rgb(7, 27, 1);
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px black, 0 0 25px Aquamarine, 0 0 5px Aqua;
    font-size: 24px;
}
  #memorySpan{
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    float: left;
}
  #operationSpan{
    padding: 10px;
    float:right;
    text-align: right;
    visibility: none;
}
.buttons {
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    border-radius: 10px;
}
.buttons:hover {
    -ms-transform: scale(1.10); 
    -webkit-transform: scale(1.05); 
    transform: scale(1.05); 
}
.buttons:active {
    transform: translate(0px, 5px);
}
.memory-item {
    background-color: rgba(53, 150, 231, 0.8);
    background-image: linear-gradient(to right, rgba(39, 168, 226, 0.8) , rgba(80, 128, 200, 0.8));
}
.clear-item {
    background-color: rgba(168, 59, 54, 0.8);  
}
.backspace {
    background-color: rgba(173, 251, 235, 0.8);  
    grid-area: backspace;
}
.operator {
    background-color: rgba(255, 126, 92, 0.8);
    background-image: linear-gradient(to right, rgba(255, 98, 113, 0.8) , rgba(229, 160, 101, 0.8));
}
.equal {
    background-color: rgba(32, 175, 119, 0.8);
    grid-area: equal;
}
.number{
    background-color: rgba(223, 188, 100, 0.8);
    background-image: linear-gradient(to right, rgba(214, 162, 61, 0.8) , rgba(221, 213, 177, 0.8));
}

/*Buttons positioning*/
#memory-clear{
  grid-area: memory-clear; 
}
#memory-store{
  grid-area: memory-store; 
}
#memory-add{
  grid-area: memory-add;
}
#memory-subtract{
  grid-area: memory-subtract;
}
#memory-recall{
  grid-area: memory-recall;
}
#all-clear{
  grid-area: all-clear;
}
#add{
  grid-area: add;
}
#subtract{
  grid-area: subtract;
}
#multiply{
  grid-area: multiply;
}
#divide{
  grid-area: divide;
}
#dot{
  grid-area: dot;
}   
#zero{
  grid-area: zero;
} 
#one{
  grid-area: one;
} 
#two{
  grid-area: two;
} 
#three{
  grid-area: three;
} 
#four{
  grid-area: four;
} 
#five{
  grid-area: five;
} 
#six{
  grid-area: six;
} 
#seven{
  grid-area: seven;
} 
#eight{
  grid-area: eight;
} 
#nine{
  grid-area: nine;
} 